body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

p, label {
    font-size: 16px;
}

.margin {
    margin-bottom: 45px;
}

.bg-1 { 
    background-color: #241e40;
    color: #ffffff;
}

.bg-2 { 
    background-color: whitesmoke;
    color: #241e40;
}

.bg-3 { 
    background-color: #241e40;
    color: white;
}

.bg-4 { 
    background-color: #90caf8;
    color: #241e40;
}

.bg-5 { 
    background-color: #241e40;
    color: #fff;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #241e40;
}

.navbar-nav  li a:hover {
    color: #f7fcfb !important;
}

#intro {
    line-height: 40px;
}

#firstButton {
    margin: 40px;
    width: 150px;
    height: 50px;
    font-size: 25px;
}

#aboutPara {
    margin-top: 50px;
}

#socialFooter {
    margin-right: 50px;
}

#secondButton {
    font-size: 16px;
    border: none;
    color: #ffffff;
    background-color: #241e40;
}

#logo {
    width: 100px;
    height: auto;
    position: relative;
    bottom: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color:#241e40;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color:#241e40;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    max-height: 200px;
    max-width: 100%;
    border-radius: 50%;
}

#dotRelative {
    position: relative;
    top: 1px;
}

.spacingMobile {
    margin-right: 10px;
    position: relative;
    bottom: 15px;

}

.spacingLinksMobile {
    padding: 20px;
}

.spacing {
    margin-right: 40px;
    position: relative;
    top: 1px;
}

.spacingArrowLinks {
    position: relative;
    top: 20px;
}